body{
  margin: 0;
}

a{
  text-decoration: none;
  //color:#e4ab0d;
  color: #555555;
}

p{
  margin: 0;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}

ul{
  padding: 0;
  margin: 0;
}

.show{
  background-color: #c9c9c9;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
  transition: all 0.3s;

}