{% extends 'index.html' %}

{% block main %}
<link rel="stylesheet" href="/static/my/css/about.css">

<div class="aboutme">
    <div class="title">
        <h2>关于我</h2>
        <b>---其实就是一个平平无奇的测试攻城狮</b><br/>
    </div>
    <div class="myself">
        <div class="left">
            <img src="/static/my/img/aboutme/067.jpg" alt="">
        </div>
        <div class="right">
            <div>
                <h3>ABOUT</h3>
                <p>哈喽，这里是覃见的小博客，主要分享些测试工作的技术以及宝宝的一些靓照。</p>
                <p>网站是基于Django+Vue开发的，现在还是个比较基础的版本，慢慢丰富吧。</p>
                <p>话说测试员也可以自己搞网站...为自己带盐</p>
            </div>
            <div>
                <h3>ABOUT ME </h3>
                <p>年龄: 无可奉告 无可奉告</p>
                <p>职业: 软件测试工程师</p>
                <p>工作经历: 平安寿险-测试组长 / 顺丰-部门测试负责人 / 虾皮-SE</p>
                <p>老家: 贺州   现居: 深圳</p>
                <p>Github&邮箱在下面↘️↘️</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}