{% extends 'index.html' %}

{% block main %}
<link rel="stylesheet" href="/static/my/css/life.css">

<div class="up">
    <h3>这里其实是..</h3>
    <h3>西柚宝宝的成长日记</h3>
    <h3>先上靓照~</h3>
    <h4>故事开始~</h4>
</div>

<div class="life">
    <div class="left">
        <div>
            <p>100天</p>
            <img src="/static/my/img/qj_baby/baby1.jpg" alt="">
        </div>
        <div>
            <p>2022-2-18</p>
            <img src="/static/my/img/qj_baby/01.jpg" alt="">
        </div>
        <div>
            <p>月子中心</p>
            <img src="/static/my/img/qj_baby/03.jpg" alt="">
        </div>
        <div>
            <p>满月照</p>
            <img src="/static/my/img/qj_baby/05.jpg" alt="">
        </div>
        <div>
            <p>剪了个大光头</p>
            <img src="/static/my/img/qj_baby/07.jpg" alt="">
        </div>
        <div>
            <p>已经会平板支撑啦</p>
            <img src="/static/my/img/qj_baby/09.jpg" alt="">
        </div>
        <div>
            <p>出门散步</p>
            <img src="/static/my/img/qj_baby/11.jpg" alt="">
        </div>
    </div>
    <div class="right">
        <div>
            <p></p>
            <img src="/static/my/img/qj_baby/baby2.jpg" alt="">
        </div>
        <div>
            <p>爷俩的第一次见面</p>
            <img src="/static/my/img/qj_baby/02.jpg" alt="">
        </div>
        <div>
            <p>哈哈</p>
            <img src="/static/my/img/qj_baby/04.jpg" alt="">
        </div>
        <div>
            <p></p>
            <img src="/static/my/img/qj_baby/06.jpg" alt="">
        </div>
        <div>
            <p>孩生的第一辆车</p>
            <img src="/static/my/img/qj_baby/08.jpg" alt="">
        </div>
        <div>
            <p>收获表情包 哈哈</p>
            <img src="/static/my/img/qj_baby/10.jpg" alt="">
        </div>
        <div>
            <p>赏花赏月赏宝宝</p>
            <img src="/static/my/img/qj_baby/12.jpg" alt="">
        </div>
    </div>
</div>
{% endblock %}