{% extends 'index.html' %}

{% block main %}
<link rel="stylesheet" href="/static/my/css/testxmind.css">
<link rel="stylesheet" href="/static/fontawesome-free-5/css/all.min.css ">
<div class="testxmind">
    <div class="title">
        <h2>测试总结xmind</h2>
        <b>---算是软件测试要掌握一些比较基础的东西</b><br/>
        <b>---为什么是图片...因为不易获取 才会珍惜</b>
    </div>
    <div class="xminds">
        <ul>
            <li><i class="fas fa-angle-double-right"></i><a href="/static/my/img/xmind/01.png" target="_blank">测试基础</a></li>
            <li><i class="fas fa-angle-double-right"></i><a href="/static/my/img/xmind/02.png" target="_blank">性能测试</a></li>
            <li><i class="fas fa-angle-double-right"></i><a href="/static/my/img/xmind/03.png" target="_blank">接口测试</a></li>
            <li><i class="fas fa-angle-double-right"></i><a href="/static/my/img/xmind/04.png" target="_blank">自动化集成</a></li>
            <li><i class="fas fa-angle-double-right"></i><a href="/static/my/img/xmind/05.png" target="_blank">手机专项</a></li>
            <li><i class="fas fa-angle-double-right"></i><a href="/static/my/img/xmind/06.png" target="_blank">web安全</a></li>
            <li><i class="fas fa-angle-double-right"></i><a href="/static/my/img/xmind/07.png" target="_blank">数据库</a></li>
            <li><i class="fas fa-angle-double-right"></i><a href="/static/my/img/xmind/08.png" target="_blank">Linux</a></li>
            <li><i class="fas fa-angle-double-right"></i><a href="/static/my/img/xmind/09.png" target="_blank">Python</a></li>
            <li><i class="fas fa-angle-double-right"></i><a href="/static/my/img/xmind/10.png" target="_blank">Django</a></li>
        </ul>
    </div>
    <div class="tobe">
        <b>...to be continued</b>
    </div>

</div>
{% endblock %}